@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap');

/* RESET / COMMON STYLES */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 300;
}
:root {
    --darkgrey: #2e2e2e;
    --browngrey: #867772;
    --skincol: #ebccc2;
    --white: #fff;
} 
body {
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    background: #2e2e2e;
}
h1, h2 {
    color: var(--skincol)   
}
h1 {
    font-size: 2.2em;  
}
h2 {
    font-size: 1.2em;
}
p {
    color: rgb(115, 115, 115);
    line-height: 1.7em;
}
ul {
    list-style: none;
}
a {
    font-size: 0.7em;
    font-weight: 500;
    text-decoration: none;
    transition: all 1s ease;
}
button { 
    color: var(--darkgrey);
    background: var(--skincol);
    cursor: pointer;
}

/* TOP NAVBAR */

.top-navbar ul a {
    color: #867772;
}
.top-navbar a:hover {
    color: var(--white);
    text-decoration: underline;
}
.top-navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2vh 4%;
    grid-area: 1/1/2/3;
}
.top-navbar li {
    display: inline;
}
.top-navbar li:not(:nth-of-type(3)) {
    padding: 0 25px;
}

/* ASIDE NAVBAR */

.side-navbar {
    line-height: 12vh;
    position: fixed;
    padding: 22vh 0;
}
span {
    font-size: 0.8em;
    color: var(--browngrey);
}
.side-navbar a {
    color: rgb(115, 115, 115);
    padding-left: 31px;
}
.side-navbar a:hover {
    color: var(--white);
    text-decoration: none;
}
.side-navbar a.active,
.side-navbar a.lighter {
    color: var(--white);
}
.side-li a.active::before {
    content: "";
    border: 1px solid var(--white);
    border-radius: 50%;
    width: 14px;
    height: 14px;
    position: absolute;
    margin: 45px 0 0 -44px;
}  
.side-li:not(:last-child)::before {
    content: "";
    border-right: 1px solid var(--browngrey);
    position: relative;
    top: 37px;
    left: 5px;
    padding: 20px 11px;
}
.side-li:last-child:before {
    content: "";
    padding: 0 11px;
}

/* INDEX.HTML SECTION - Intro */

.intro {
    letter-spacing: 0.2em;
    line-height: 3em;
    text-align: center;
}
.intro h1 {
    text-align: left;
    padding: 20vh 35% 18vh 30%;
}
.img-jumpingMan {  
    width: 90%;
    margin-bottom: 15vh;
}

/* INDEX.HTML SECTION - Design Alchemy */

.designAlchemy {
    display: grid;
    align-items: center;
    grid-template-columns: 14% 36% 36% 14%;
    margin-bottom: 22vh;
}
.img-designAlchemy {
    grid-area: 1/2/2/3;
}
.text-designAlchemy {
    grid-area: 1/3/2/4;
    padding-left: 16%;
}
.img-designAlchemy img {
    object-fit: cover;
    width: 100%;
    min-height: 100%;
}
.designAlchemy h1 {
    margin-bottom: 25px;
}
.designAlchemy p:nth-child(2) {
    margin-bottom: 14px;
}

/* GRID / CONTENT FOR SUB SITES */

.container {
    display: grid;
    grid-template-columns: 58% 42%;
    grid-template-rows: 10vh 90vh;
}
.onepage-img img {
    object-fit: cover;
    width: 100%;
    min-height: 100%;
}
.onepage-img {
    grid-area: 1/1/3/2;
}
.onepage-text {
    margin: 20vh 19% 0 8%;
}
.onepage-text h1 {
    margin-bottom: 12vh;
}
.onepage-text p:nth-of-type(2) {
    margin: 14px 0;
}

/* INSPIRATION.HTML SECTION - Video & Create */

.video-container {  
    width: 60%;
    padding-top: 20vh;
    margin: 0 auto;
}
video { 
    width: 100%;
}
.create {
    margin: 20vh 0 15vh 18%;
}
.create h1, .text-img h1 {
    margin: 2vh 0 4vh;
}
.create p {
    margin-top: 2vh;
}
.create button {
    font-size: 0.7em;
    font-weight: 500;
    color: rgb(115, 115, 115);
    background: var(--darkgrey);
    border: 1px solid var(--white);
    border-radius: 2px;
    padding: 4px 8px;
}
.text-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 18% 10vh;
}
.text-img figure, .text-img article {
    width: 50%;
}
.img-soundAlchemy img, 
.img-soundArchiteture img { 
    object-fit: cover;
    width: 100%;
}
.text-soundArchitecure,
.text-soundAlchemy {
    padding: 0 5% 0 3%;
}

/* SHOP SITE */

.shop {
    text-align: center;
}
.shop img {
    width: 34vw;
    margin-top: 10vh;
}
.shop h1 {
    font-size: 1.8em;
}
.shop p {
    font-size: 1.1em;
}
.shop p:first-of-type {
    padding: 6px 0 14px;
}
.shop button {
    font-size: 0.9em;
    padding: 8px 20px;
    border: none;
}

/* SUBSCRIBE & CONTACT SITE */

.centerH1 {
    text-align: center;
    padding-bottom: 20px;
}
.subscribe p, .contact p {
    margin: 2vh 0 5vh;
}
.contact, .subscribe {
    width: 37vw;
    height: 75vh;
    border-radius: 5px;
    padding: 20px;
    margin-top: 6vh;
}
.subscribe {
    grid-area: 2/1/3/2;
    margin-left: 25%;
    background: url(../img/section-composition4.jpg) center / cover no-repeat;
}
.contact {
    grid-area: 2/2/3/3;
    background: rgba(115, 115, 115, 0.2);
}
label {
    color: var(--browngrey);
}
input, textarea {
    font-family: 'Work Sans', sans-serif;
    display: block;
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 20px;
    margin: 8px 0;
}
input[type=submit] {
    width: 30%;
    margin: 5vh auto;
}

/* MEDIA QUERIES FOR VARIOUS DEVICE BREAKPOINTS*/

@media (max-width: 1200px) {
    body {
        font-size: 14px;
    }
    .top-navbar {
        position: static;
        padding: 2vh 0 2vh 4%;
    }
}

@media (max-width: 1024px) {
    body {
        font-size: 16px;
    }
    .container {
        grid-template-columns: 50% 50%;
    }
    .top-navbar li:not(:nth-of-type(3)) {
        padding: 0 15px;
    }
    .onepage-text {
        margin: 20vh 8% 0;
    }
    .shop img {
        width: 100%;
    }
}

@media (max-width: 900px) {
    body {
        font-size: 16px;
    }
    .container {
        grid-template-columns: 40% 60%;
    }
    .text-img {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0 4% 10vh 20%;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 16px;
    }
    .container {
        grid-template-columns: 30% 70%;
    }
    .intro h1 {
        text-align: left;
        padding: 13vh 6% ;
    }
    .img-jumpingMan {  
        margin-bottom: 5vh;
    }
    .designAlchemy {
        display: block;
    }
    .designAlchemy h1 {
        margin-top: 5vh;
    }
    .text-designAlchemy {
        padding-left: 5%;
    }
    .video-container {
        padding-top: 10vh;
        margin: 0 0 0 30%;
    }
    .create {
        margin: 5vh 0 10vh 30%;
    }
}

@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .top-navbar li {
        display: block;
    }
    .top-navbar li:not(:nth-of-type(3)) {
        padding: 0 1%; 
    }
    .side-navbar {
        position: static;
        grid-area: 2/2/3/3;
        line-height: 2vh;
        padding:  0;
    }
    .side-li a.active::before {
        content: "";
        border: 0px solid var(--white);
    }  
    .side-li:not(:last-child)::before {
        content: "";
        border-right: 0px solid var(--browngrey);
    }
    .onepage-text h1 {
        margin: 12vh 0;
    }
    .video-container {
        width: 90%;
        padding-top: 10vh;
        margin: 0 auto;
    }
    .create {
        margin: 5vh 0 10vh 5%;
    }
    .text-img {
        display: block;
        margin: 0 5%;
    }
    .text-img figure, .text-img article {
        width: 100%;
    }
    .text-soundArchitecure,
    .text-soundAlchemy {
        padding: 5vh 3%;
    }
    .onepage-text, .shop {
        grid-area: 2/2/3/3;
        margin: 6vh 8% 0;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 13px;
    }
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .onepage-text h1 {
        margin-bottom: 5vh;
    }
}